/* .bg-1{
  width: 100vw;
  margin-right: 5%;
  margin-top: -100px;
  height: 350px;
  background-color: aquamarine;
  rotate: 20deg;
  border-radius: 30%;
} */
body, html {
  max-width: 100%;
  overflow-x: hidden;
}

.site{
  overflow-x: hidden;
  /* Unnecessary IMHO, uncomment next line to force hidden behavior */
  /* overflow-x: hidden !important; */
  /* Additional tunning proposed by the community */
  position: relative;
  width: 100%;
}

/* FONTS */
.font-nato-serif {
  font-family: 'Noto Serif', serif;
}

/* SECTIONS */

/* FIRST SECTION */

#inicio {
  height: 80vh;
}

#inicio>h1 {
  width: 40%;
  font-size: 80px;
  text-align: center;
  margin-top: 135px;
  margin-left: 85px;
  font-weight: 700;
}

#inicio>p {
  font-size: 25px;
  width: 50%;
  margin-left: 20px;
  text-align: center;
}

.btn-cover {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1.2rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
  margin: 1.5% 21%;
}

.btn-cover:hover {
  background-position: right top;
}

.btn-cover:is(:focus, :focus-within, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .btn-cover {
    transition: linear;
  }
}

.square-background-image {
  width: 900px;
  height: 880px;
  border-radius: 20px;
  /* background-image: url('https://free4kwallpapers.com/uploads/originals/2021/02/04/future-tech-city-wallpaper.jpg'); */
  background-image: url('https://rare-gallery.com/mocahbig/442782-digital-art-internet-technology.jpg');
  background-size: cover;
  transform: rotate(55deg);
  position: absolute;
  z-index: -999;
  right: -170px;
  top: -190px;
}

/* SECOND SECTION*/
.title-our-services {
  margin-top: 30px;
  margin-left: 35px;
  font-size: 65px;

}

#servicios>p {
  padding-top: 18px;
  font-size: 25px;
  width: 90%;
  text-align: center;
  margin: 0px auto;
  font-family: sans-serif;
}

/* THIRD SECTION */
.why-us-title {

  font-size: 70px;
  text-align: end;
  margin-top: 6%;
  margin-right: 140px;
}

.trapezoid {
  width: 480px;
  height: 380px;
  clip-path: polygon(0 0, 100% 25%, 100% 76%, 0 100%);
  background-color: rgba(39, 175, 238, 0.664);
  position: absolute;
  z-index: -999;
}

#phone {
  width: 240px;
  position: absolute;
  z-index: 0;
  left: 300px;
  top: 1630px;
  transform: rotate(12deg);
}

.why-us-description {
  font-size: 28px;
  width: 50%;
  text-align: justify;
  float: right;
  margin-top: 45px;
  margin-right: 100px;
}

.btn-why-us-section {
  top: 250px;
  left: 910px;
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

.btn-why-us-section:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.btn-why-us-section:active {
  transform: scale(0.9);
}

/* FOURTH SECTION */
#contactanos {
  height: 300px;
}

/* FOOTER */
footer {
  margin-top: 420px;
  position: relative;
  height: 200px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
}

.container-links-footer {
  padding: 30px;
}

.container-links-footer>span {
  margin: 5%;
  font-size: 15px;
  font-family: 'Noto Serif', serif;
}

hr {
  width: 80%;
  margin-left: 10% !important;
}

#footer-slogan {
  color: #e9e4e4;
  font-size: 20px;
  margin: 15px 0px 30px;
}

#copyright {
  font-size: 15px;
  color: rgb(197, 202, 202);

}

.footerLinks {
  text-decoration: none;
  color: #fff;
  margin: 5%;
}

@media screen and (min-width: 1850px){
  .square-background-image {
    width: 950px;
    height: 950px;
    left: calc(100vw - 42%);
    
  }

  #phone {
    width: 280px;
    
    left: 350px;
    top: 1750px;
    transform: rotate(12deg);
  }
}

@media screen and (min-width: 901px) and (max-width: 1400px) {
  .square-background-image {
    width: 650px;
    height: 650px;
    left: 700px;
    display: none;
  }

  #inicio>h1 {
    font-size: 60px;
    width: 95%;
    margin:  180px 4% 0px;
    text-align: center;
  }

  #inicio>p {
    font-size: 30px;
    width: 90%;
    margin: 60px 6% 20px;
    
  }

  .navbar-links{
    margin-right: 30% !important;
    width: 100%;
  }
  .navbar-links > a{
    color: black !important;
  }

  .btn-cover {
    margin: 5% 38%;
    font-size: 26px;
  }

  /* SECOND SECTION COVER */

  .title-our-services {
    text-align: center;
    
    margin-left: 0px;
    font-size: 70px;
   
    
  }

  #servicios>p {
    padding-top: 14px;
    font-size: 26px;
    text-align: justify;
    width: 90%;
    margin: 0px 5%;
  }

  .why-us-description {
    font-size: 26px;
    width: 92%;
    
    float: left;
    margin-top: 45px;
    margin: 45px 3% 0px;
  }

  .trapezoid {
    height: 280px;
    margin-top: 280px;
  }

  #phone {
    width: 280px;
    
    left: 350px;
    top: 2550px;
    transform: rotate(12deg);
  }

  #contactanos{
    margin-top: 680px;
  }

  .btn-why-us-section {
    top: 500px;
    left: calc(100vw - 30%);
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .square-background-image {
    width: 650px;
    height: 550px;
    left: 500px;
  }

  #inicio>h1 {
    text-align: left;
    font-size: 60px;
    width: 80%;
    margin:  150px 4% 0px;
    text-align: center;
  }

  #inicio>p {
    font-size: 22px;
    width: 86%;
    margin: 60px 4% 20px;
    text-align: center;
  }

  .btn-cover {
    margin: 5% 38%;
  }

  /* SECOND SECTION COVER */

  .title-our-services {
    text-align: center;
    
    margin-left: 5%;
    font-size: 60px;
    width: 90%;
    
  }

  #servicios>p {
    padding-top: 14px;
    font-size: 26px;
    text-align: justify;
    width: 90%;
    margin: 0px 5%;
  }

  /* THIRD SECTION */
  .why-us-title {
    font-size: 60px;
    width: 90%;
    margin-top: 180px;
    text-align: center;
    margin-left: 15px;
  }

  .why-us-description {
    font-size: 22px;
    width: 92%;
    
    float: left;
    margin-top: 45px;
    margin: 45px 3% 0px;
  }

  .trapezoid {
    height: 280px;
    margin-top: 280px;
  }

  #phone {
    width: 250px;
    
    left: 350px;
    top: 2550px;
    transform: rotate(12deg);
  }

  #contactanos{
    margin-top: 630px;
  }
}


@media screen and (min-width: 421px) and (max-width: 600px){
  /* FIRST SECTION COVER */

  #inicio{
    height:350px;
  }

  .square-background-image {
    width: 450px;
    height: 450px;
    left: 300px;
  }

  #inicio>h1 {
    text-align: left;
    font-size: 40px;
    width: 70%;
    margin:  150px 15% 0px;
    text-align: center;
  }

  #inicio>p {
    font-size: 14px;
    width: 90%;
    margin: 25px 5% 20px;
    text-align: center;
  }

  .btn-cover {
    margin: 5% 30%;
  }

  /* SECOND SECTION COVER */

  .title-our-services {
    text-align: center;
    
    margin-left: 5%;
    font-size: 40px;
    width: 90%;
    
  }

  #servicios>p {
    padding-top: 14px;
    font-size: 16px;
    text-align: justify;
    width: 90%;
    margin: 0px 5%;
  }

  /* THIRD SECTION */
  .why-us-title {
    font-size: 40px;
    width: 90%;
    margin-top: 100px;
    text-align: left;
    margin-left: 15px;
  }

  .why-us-description {
    font-size: 18px;
    width: 92%;
    
    float: left;
    margin-top: 45px;
    margin: 45px 3% 0px;
  }

  .trapezoid {
    height: 280px;
    margin-top: 430px;
  }

  #phone {
    width: 170px;
    
    left: 180px;
    top: 2590px;
    transform: rotate(5deg);
  }

  #contactanos{
    margin-top: 525px;
  }

  .btn-why-us-section{
    
    top: 50px;
    left: 25%;
  }

  
}

@media screen and (max-width: 420px) {

  #inicio{
    height: 350px;
  }
  /* FIRST SECTION COVER */
  .square-background-image {
    width: 450px;
    height: 400px;
    bottom: 0px;
    left: 180px;
  }

  #inicio>h1 {
    font-size: 40px;
    width: 70%;
    margin-top: 250px;
    margin-left: 10%;
  }

  #inicio>p {
    font-size: 14px;
    width: 90%;
    margin-top: 25px;
    margin-left: 1.5%;
    text-align: center;
  }

  .btn-cover {
    margin: 7% 25%;
  }

  /* SECOND SECTION COVER */

  .title-our-services {
    text-align: center;
    margin-left: 0PX;
    font-size: 60px;
  }

  #servicios>p {
    padding-top: 14px;
    font-size: 16px;
    width: 88%;
    text-align: left;
    font-family: sans-serif;
  }

  /* THIRD SECTION */
  .why-us-title {
    font-size: 45px;
    text-align: center;
    margin-top: 30%;
    margin-right: 0px;
  }

  .trapezoid {
    height: 280px;
    margin-top: 280px;
  }

  #phone {
    width: 180px;
    
    left: 110px;
    top: 2850px;
    transform: rotate(5deg);
  }

  .why-us-description {
    font-size: 18px;
    width: 90%;
    text-align: justify;
    float: right;
    margin-top: 45px;
    margin-right: 20px;
  }

  #contactanos{
    margin-top: 400px;
  }

  /*FOOTER*/
  footer {
    height: 250px;
  }
  
}

@media screen and (max-width: 330px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  /* FIRST SECTION COVER */
  .square-background-image {
    display: none;
  }

  #inicio>h1 {
    font-size: 40px;
    width: 90%;
    margin-top: 150px;
    margin-left: 20px;
  }

  #inicio>p {
    font-size: 14px;
    width: 95%;
    margin-top: 25px;
    margin-left: 6px;
    text-align: center;
  }

  .btn-cover {
    margin: 7% 25%;
  }

  /* SECOND SECTION COVER */

  .title-our-services {
    text-align: center;
    margin-left: 0PX;
    font-size: 50px;
  }
}